body {
    background-color: rgb(253, 251, 251);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    text-align: justify;

}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(0, 97, 223);
}

header#cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(226, 226, 226);
    border-bottom: 2px solid black;
}

#titulo {
    padding-left: 10px;
    color: rgb(0, 97, 223);
}

header#cabecalho li {
    display: inline-block;
    padding: 10px;
}

img#minha_foto {
    margin-top: 140px;
    border-radius: 20%;
}

.lado-direito {
    float: right;
    max-width: 600px;
    max-height: 200px;
    border: 2px solid black;
    padding: 10px;
}

.lado-esquerdo {
    float: left;
    max-width: 600px;
    max-height: 200px;
    border: 2px solid black;
    padding: 10px;
}

#tabela {
    padding: 1em;
    margin-top: 10px;
    border-collapse: collapse;
    width: 200px;

}

tbody tr:nth-of-type(odd) {
    background-color: rgb(226, 226, 226);
}

#titulo-tabela {
    margin-top: 300px;
    font-size: 1.5em;
}

footer#rodape {
    margin-top: 100px;
}

footer#rodape li {
    padding: 20px 0px 50px 50px;
    display: inline-block;
}

footer h2 {
    margin: 30px 0px 20px 20px;
}

#div-rodade {
    position: absolute;
    right: 0;
    width: 100%;
    border-top: black 2px solid;;
}