body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(37, 37, 37);
    text-align: justify;
    color: whitesmoke;
    font-size: 16px;
}
h1 {
    font-size: 65px;
    color: orange;
}
p#aaa {
    color: darkred;
    font-weight: normal;
    font-style: italic;
    line-height: 40px;
    text-align: center;
    text-decoration: underline;

}
.peul {
    background-color: white;
}
p {
    font-weight: 600;
    font-size: 3em;
}
li#amarelo{
    background-color: yellow;
    color: black;
}
li#vermelho{
    background-color: red;
    color: black;
}
li#marrom{
    background-color: rgb(92, 51, 51);  
}
