* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  color: #37352F
}

#header {
  /* border: 1px solid red; */
  background-color: whitesmoke;
  text-align: center;
  padding: 20px;
}

#section-textarea {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
}

#textarea {
  border: none;
  box-shadow: 1px 1px 5px 2px rgb(167, 167, 167);
  width: 50%;
  border-radius: 5px;
  padding: 20px;
	outline: inherit;
  font-size: 17px;
  resize: none;
  overflow: auto;
}

#counters {
  /* border: 1px solid black; */
  margin-top: 20px;
  margin-bottom: 10px;
}

button {
  border: none;
  background: rgb(241, 238, 238);
  box-shadow: 1px 1px 2px 2px rgb(167, 167, 167);
  border-radius: 5px;
  outline: inherit;
  font-size: 15px;
}

button:active {
  border: none;
  box-shadow: inset 0px 0px 10px 5px rgb(177, 177, 177);
}

#buttons {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

.buttons-padding {
  padding: 7px;
  margin: 5px;
}

#lorem {
  background-color: rgb(192, 221, 255);
}













#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: whitesmoke;
  padding: 15px;
  font-size: 16px;
}