body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
a {
    text-decoration: none;
    color: inherit;
}
.teste {
    background-color: black;
    color: whitesmoke;
}
.paragrafos {
    background-color: teal;
    width: 80%;
    overflow: auto;
    padding-left: 1%;
    padding-right: 1%;
}
.caixa {
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
}
.width-and-height {
    height: 50px;
    width: 50px;
}
.padding {
    padding: 20px;
}
.margin {
    margin: 30px;
}
.border {
    border: 5px solid black;
}

.pag {
    background-color: rgb(43, 94, 206);
    color: whitesmoke;
    padding: 15px;
    border-radius: 10px;
    font-weight: 700;
}
.pag:hover {
    background-color: black;
}

.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    top: 950px;
    left: 120px;
    
  }
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 3;
    top: 1300px;
    left: 290px;
  }
  
  .baloon {
    position: absolute;
    z-index: 4;
    top: 1200px;  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 5;
    top: 1240px;
    left: 15px;
  }

div.rodape {
    margin-top: 1000px;
}

  