body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
.teste {
    background-color: black;
    color: whitesmoke;
}
.paragrafos {
    background-color: teal;
    width: 80%;
    height: 300px;
    overflow: auto;
    padding-left: 1%;
    padding-right: 1%;
}
.caixa {
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
}
.width-and-height {
    height: 50px;
    width: 50px;
}
.padding {
    padding: 20px;
}
.margin {
    margin: 30px;
}
.border {
    border: 5px solid black;
}
