body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 2%;
    padding-top: 0;
    /* background-color: #1a1a1d;
    color: white; */
    scroll-behavior: smooth;  
}

a {
    text-decoration: none;
    color: inherit;
}

#indice {
    margin-top: 0px;
    text-align: center;
}

#indice li {
   margin-right: 50px; 
}

hr {
    margin-bottom: 20px;
}

#foto {
    border-radius: 0%;
    float: left;
    padding: 5px;
    background-color: black;
    margin-right: 20px;
}

#descricao {
    position: flex;
    margin-top: 70px;    
    text-align: justify;
}

.pag {
    background-color: rgb(43, 94, 206);
    color: whitesmoke;
    padding: 15px;
    border-radius: 10px;
    font-weight: 700;
}

.pag:hover {
    background-color: black;
}

div#nome {
    height: 350px;
    position: relative;
}

#nome-completo {
    text-align: center;
    margin-bottom: 50px;
}

/* ul li:nth-child(odd) {
    background-color: rgb(170, 204, 255);
} */

#indice ul li {
    display: inline-block;
}

#indice ul li:hover {
    background-color: black;
    color: whitesmoke;
}