body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 100px;
    /* background-color: #1a1a1d;
    color: white; */
    scroll-behavior: smooth;  
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: whitesmoke;
}

#indice {
    margin-top: 0px;
    text-align: center;
    border-bottom: 1px solid black;
}

#indice li {
   margin-right: 50px; 
}

hr {
    margin-bottom: 20px;
}

#foto {
    border-radius: 0%;
    float: left;
    padding: 5px;
    background-color: black;
    margin-right: 20px;
}

#descricao {
    position: flex;
    margin-top: 70px;    
    text-align: justify;
}

.pag {
    background-color: rgb(43, 94, 206);
    color: whitesmoke;
    padding: 15px;
    border-radius: 10px;
    font-weight: 700;
}

.pag:hover {
    background-color: black;
}

div#nome {
    height: 350px;
    position: relative;
}

#nome-completo {
    text-align: center;
    margin-bottom: 50px;
}

/* ul li:nth-child(odd) {
    background-color: rgb(170, 204, 255);
} */

#indice ul li {
    display: inline-block;
}

#indice ul li:hover {
    background-color: black;
    color: whitesmoke;
}

#skills-div {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}

#hard-skills h3 {
    text-align: center;
    padding: 10px 15px;
    margin-left: 35px;
}

#soft-skills h3 {
    text-align: center;
    padding: 10px 15px;
    margin-left: 35px;
}

#hard-skills {
    margin-left: 100px;
}

#soft-skills {
    margin-right: 100px;
}

.skills {
    list-style-type: none;
}

#projects {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}

#projects p {
    padding-right: 10px;
}

footer {
    margin-top: 500px;
    border-top: 1px solid;
    text-align: center;
}