body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 2%;
}

a {
    text-decoration: none;
    color: inherit;
}

#indice {
    text-align: center;
}

#indice li {
    
}

#foto {
    border-radius: 0%;
    float: left;
    padding: 5px;
    background-color: black;
}

#descricao {
    position: absolute;
    top: 15%;
    right: 1%;
    left: 240px;
    text-align: justify;
}

.pag {
    background-color: rgb(43, 94, 206);
    color: whitesmoke;
    padding: 15px;
    border-radius: 10px;
    font-weight: 700;
}

.pag:hover {
    background-color: black;
}

div#nome {
    height: 300px;
    position: relative;
}

#nome-completo {
    text-align: center;
}

ul li:nth-child(odd) {
    background-color: rgb(170, 204, 255);
}