body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: rgb(230, 230, 230);
  padding: 20px;
}

#main-content {
  background-color: white;
  padding: 20px 10px 50px 40px;
  border-radius: 20px;
  box-shadow: 0 0 20px;
  margin-left: 23%;
  margin-right: 23%;
}

#main-content h1 {
  color: #181a2e;
}

#main-content p {
  color: #202341;
}

#apaga-tudo {
  margin-top: 10px;
  background-color: #f0233e;
  color: black;
}

#apaga-tudo:hover {
  margin-top: 10px;
  background-color: #be0019;
  color: white;
}

#remover-finalizados {
  background-color: #f87432;
  color: black;
}

#remover-finalizados:hover {
  background-color: #f35a0e;
  color: white;
}

input {
  font-size: 20px;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid rgb(160, 160, 160);
  box-shadow: 1px 1px rgb(160, 160, 160);
}

button {
  font-size: 20px;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(70, 128, 245);
  color: white;
  border: 1px solid rgb(160, 160, 160);
  box-shadow: 1px 1px rgb(160, 160, 160);
}

button:hover {
  font-size: 20px;
  border-radius: 10px;
  padding: 5px;
  background-color: black;
  color: white;
  border: 1px solid rgb(160, 160, 160);
  box-shadow: 1px 1px rgb(160, 160, 160);
}
