@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(images/1640134417606.gif);
  background-size: cover;
  color: azure;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99.6vh;
}

#main-header-div {
  border: 1px solid #7E4343;
  display: flex;
  justify-content: space-between;
  /* margin: 10px; */
  /* height: 20px; */
  box-shadow: 1px 1px 1px 1px #7E4343;
  font-size: 12px;
}

#main-header-div h4 {
  /* border: 1px solid red; */
  margin: 5px;
  margin-right: 7px;
  margin-left: 7px;
}

#main-div {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  border: 2px solid #7E4343;
  background-color: #0C2534;
  box-shadow: 1px 1px 1px 1px #7E4343;
  height: 500px;
  width: 1000px;
  opacity: 95%;
  /* padding: 10px; */
}

#img-textbox-div {
  /* border: 1px solid blueviolet; */
  box-shadow: 1px 1px 1px 1px #7E4343;
  /* margin: 10px; */
  display: flex;
  /* justify-content: space-evenly; */
  height: 100%;
}

#img-div {
  border: 2px solid #7E4343;
  /* margin: 10px; */
  /* box-shadow: 1px 1px 1px 1px #7E4343; */
  width: 400px;
  background-image: url(images/esse4.jpg);
  background-size: 625px;
  background-position-x: -240px;
  /* background-position: right; */
  background-repeat: no-repeat;
  /* filter: grayscale(100%); */
}

#header-textbox-div {
  /* border: 1px solid #61dafb; */
  /* margin: 10px; */
  width: 100%;
  box-shadow: 1px 1px 1px 1px #7E4343;
}

#header-div {
  border: 2px solid #7E4343;
  /* margin: 10px; */
  box-shadow: 1px 1px 1px 1px #7E4343;
}

#header-div h4 {
  margin: 3px;
  margin-left: 7px;
  /* font-family: monospace; */
  font-size: 12px;
}

#textbox-div {
  text-align: center;
  border: 1px solid #7E4343;
  /* margin: 10px; */
  box-shadow: 1px 1px 1px 1px #7E4343;
  height: 94.5%;
  padding-right: 10px;
  padding-left: 10px;
  /* font-family: monospace; */
  font-size: 15px;
}

/* #textbox-div h4 {
  text-decoration: underline;
} */

#about-me-div p {
  text-align: justify;
}

#skills-icon-div {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-evenly;
}

#skills-icon-div img {
  /* margin-left: 4px; */
  height:30px;
  width:40px;
}

#skills-div i {
  font-size: 30px;
}

#my-projects-button {
  background: aliceblue;
  border-bottom: 3px inset rgba(0,0,0,.5);
  border-left: 3px inset rgba(0,0,0,.5);
  border-right: 3px inset rgba(255, 255, 255, .5);
  border-top: 3px inset rgba(255, 255, 255, .5);
  box-sizing: border-box;
  color: #0C2534;
  cursor: pointer;
  padding: 5px;
  font-family: "Fira Code";
  font-size: 13px;
  font-weight: 500;
}

#my-projects-button:hover {
  background: rgb(237, 237, 237);
}

#my-projects-button:active {
  border-bottom: 3px inset transparent;
  border-left: 3px inset transparent;
  border-right: 3px inset transparent;
  border-top: 3px inset transparent;
}

#icons-div {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

#contact-div img {
  margin-right: 30px;
  height:30px;
  /* width:40px; */
}

#contact-div i {
  color: aliceblue;
  text-decoration: none;
  font-size: 30px;
}

#contact-div a {
  text-decoration: none;
}